body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgba(150, 236, 232, 0.685), rgba(255, 61, 177, 0.87), rgba(255, 56, 245, 0.69));
    font-size: 18px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Public Sans', sans-serif;
    align-items: center;
    justify-content: center;
}

header {
    font-size: 5vw;
    font-weight: 600;
    text-align: center;
    color: white;
}

.layout {
    margin: 2rem 0;
    width: 350px;
    box-shadow: 2px 10px 10px   rgb(53, 19, 58);
    border-radius: 5px;
    background-color: rgba(51, 0, 48, 0.33);
    display: flex;
    justify-content: center;
    color: white;
}

h2 {
    text-align: center;
}

.login {
    margin: 2rem 0;
}

input {
    cursor: pointer;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.74);
    background: transparent;
    color: rgba(255, 255, 255, 0.712);
    margin: 10px 0 20px 0;
    text-decoration: none;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form>div{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
i{
    padding-right: 20px;
}
.new>span{
    color: rgb(9, 247, 215);
    cursor: pointer;
}
button{
    cursor: pointer;
    margin: 0 10px;
}

.signUp{
    display: none;
}

#errLogin, #errSign{
    text-align: center;
}