body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgba(150, 236, 232, 0.685), rgba(255, 61, 177, 0.87), rgba(255, 56, 245, 0.69));
    font-size: 18px;
    height: 100vh;
    display: flex;
    font-family: 'Public Sans', sans-serif;
    align-items: center;
    justify-content: center;
}